<div>
    <form class="d-flex flex-wrap action-form">

        <div class="form-group col-lg-4 default-padding">
            <label for="description" class="text-white">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Enter Description">
        </div>

        <div class="form-group col-lg-4 default-padding">
            <label for="method" class="text-white">Method</label>
            <input type="text" class="form-control" id="method" placeholder="Enter Method">
        </div>

        <div class="form-group col-lg-4 default-padding">
            <label for="route" class="text-white">Route</label>
            <input type="text" class="form-control" id="route" placeholder="Enter Route">
        </div>


     <div class="default-padding">

        <button mat-raised-button matTooltip="Add new item " >
            Submit New Item   
            </button>
     </div>
    
    </form>
</div>